* {
	font-family: Arial;
}
div.container {
    width: 100%;
    border: 1px solid gray;
}

header.header,footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

header.main {
	margin-left:13%;
}
div.main {
	margin-left:13.5%;
	
}
nav {
    float: left;
    width: 12%;
    margin: 0;
    color: white;
    background-color: orange;
    overflow: auto;
    height: 100%;
}

nav ul {
    list-style-type: none;
    padding: 1em;
}

nav ul a {
    text-decoration: none;
}
li a {
    display: block;
    color: black;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: orange;
}

li a:hover:not(.active) {
    background-color: #555;
    color: orange;
}

head {
    margin-left: 200px;
    border-left: 1px solid gray;
    padding: 2em;
    overflow: hidden;
}

div.inputmessage {
	bottom:0;
}